html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 3rem;
}

.button-container {
    margin: 2rem 0;
}

.grid-container {
    display: grid;
    border: 1px solid black;
    width: 50rem;
    height: 50rem;
}

.colored-black {
    background-color: black;
}