@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&family=Montserrat:wght@300;400;700&display=swap');

:root {
    font-size: 62.5%;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --title-font: "Montserrat", Arial, sans-serif;
    --body-font: "Hind", Arial, sans-serif;
    --color1: #FF69B4;
    --color2: #00FFFF;
    --transition-speed: 600ms;
}

h1 {
    padding:0;
    margin: 2rem;
    text-align: center;
    font-family: var(--title-font);
    font-size: 5rem;
    font-weight: 700;  
}

body {
    padding: 0;
    margin: 0;
}

.controls {
    background-color: #2b2d31;
    height: 100vh;
    position: fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--body-font);
    font-size: 2rem;
    opacity: 0.4;
    transition: width 200ms ease;
}

.controls:hover .button-text,
.controls:hover .grid-size,
.controls:hover #color-picker {
    display: flex;
}

.controls:hover {
    opacity: 1;
    width: 25rem;
}

.controls:hover button {
    width: 25rem;
    justify-content: flex-start;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 1rem;
}

.grid-size {
    display: none;
}

.button-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

button {
    font-family: var(--body-font);
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    outline: none;
    border: none;
    background: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    padding: 1.5rem 1rem;
    margin: 0;
}

button:hover {
    filter: grayscale(0%) opacity(1);
    background-color: #96a4b1;
}

svg {
    width: 5rem;
    height: 5rem;
    fill: var(--color1);
    transition: var(--transition-speed);
}

.button-text {
    display: none;
}

#color-picker {
    display: none;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}

.input-message {
    font-size: 2rem;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    width: 50rem;
    height: 50rem;
    box-shadow: 0 0 0.75px black;
    background-color: #fff;
}

.grid-square {
    box-shadow: 0 0 0.75px black;
}